* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:  #c4b7a6;
}

.display-1 { 
  text-align: center;
}

#paragraph {
  padding: 20px;
}

#links {
  font-size: large;
  text-align: center;
  list-style: none;
}

#links:active {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

